@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  
  body{
    background: linear-gradient(to right , #036b52, #2fc18c)
  }

  .App{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card{
    background-color: #fff;
    padding: 3rem 5rem;
    border-radius: 12px;
  }

  .card p{
    padding-top: 1rem;
    line-height: 150%;
  }

  .expand{
    width: 25rem;
  }